<%= render  'shared/admin_navbar' %>
<table class="table table-striped table-sm">
  <thead class="bg-primary text-center">
    <tr>
      <th scope="col">Owner_ name</th>
      <th scope="col">Email</th>
      <th scope="col">Car</th>
      <th scope="col">number</th>
      <th scope="col">Model</th>
      <th scope="col">Date</th>
      <th scope="col">Issue</th>
      <th scope="col">service_name</th>
      <th scope="col">Description</th>
      <th scope="col">Duration</th>
      <th scope="col">Mechanic</th>
      <th scope="col">Status</th>
      <th scope="col">Cancel</th>
      <th scope="col">confrim</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings_service.each do |booking| %>
      <tr class="align-bottom">
        <td><%= booking.user.name %></td>
        <td><%= booking.user.email%></td>
        <td><%= booking.car.name%></td>
        <td><%= booking.car.number%></td>
        <td><%= booking.car.model%></td>
        <td><%= booking.date%></td>
        <td><%= booking.issue %></td>
        <td><%= booking.service.details.dig("name")%></td>
        <td><%= booking.service.details.dig("description")%></td>
        <td><%= booking.service.details.dig("duration")%></td>
        <td><%= booking.mechanic.name%></td>
        <td><%= booking.service.status %></td>
        <td><%= link_to 'Cancel', cancel_service_path(id: booking.service.id) %></td>
        <td><%= link_to 'confirm', confirm_service_path(id: booking.service.id)%></td>
        <td><%= button_to 'Remove', admin_path(id: booking.id), method: 'delete', data: { confirm: 'Are you sure?'},:class => "btn-btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
