<%= render  'shared/admin_navbar' %>
<table class="table table-bordered border-primary table-sm">
  <thead class="bg-primary text-center">
    <tr>
      <th scope="col">Owner Name</th>
      <th scope="col">Email</th>
      <th scope="col">Contact</th>
      <th scope="col"> Car_number</th>
      <th scope="col">Model</th>
      <th scope="col">Car_Name</th>
      <th scope="col">Issue</th>
      <th scope="col">City</th>
      <th scope="col">Location</th>
      <th scope="col">Satus</th>
      <th scope="col">Cancle</th>
      <th scope="col">Confirm</th>
      <th scope="col">Approved</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking|%>
      <tr class="align-bottom">
        <td><%= booking.user.name %></td>
        <td><%= booking.user.email %></td>
        <td><%= booking.user.contact %></td>
        <td><%= booking.car.number %></td>
        <td><%= booking.car.model %></td>
        <td><%= booking.car.name %></td>
        <td><%= booking.issue %></td>
        <td><%= booking.user.address.city %></td>
        <td><%= booking.user.address.location %></td>
        <td><%= booking.status %></td>
        <td><%= link_to 'cancel', cancel_path(id: booking.id), method: 'get'%></td>
        <td><%= link_to 'confirm', confirm_path(id: booking.id), method: 'get'%></td>
        <td> <%= link_to 'Approvrd', mechanics_path(booking_id: booking.id)%></td>
        <td><%= button_to 'Remove', admin_path(id: booking.id), method: 'delete', data: { confirm: 'Are you sure?' },:class => "btn-btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

