<table class="table table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">Mechanic_name</th>
      <th scope="col">Email</th>
      <th scope="col">Contact</th>
      <th scope="col">work</th>
    </tr>
  </thead>
  <tbody>
    <% @mech_details.each do |mech_detail|%>
      <tr>
        <td><%= mech_detail.mechanic.name%></td>
        <td><%= mech_detail.mechanic.email %></td>
        <td><%= mech_detail.mechanic.contact %></td>
        <td><%= mech_detail.issue %></td>
      </tr>
    <% end %>
  </tbody>
  <%= link_to 'Back', { controller: 'mechanics', action: 'index'} %>
</table>
