<%= render'/shared/dash_board' %>
<html>  
  <body>  
    <div class="container">   
      <div>   
        <%= link_to 'Add booking', new_booking_path %>   
      </div>   
      <br>   
      <table class="table">
        <thead class="thead bg-danger">
          <tr>
            <th scope="col">Owner_name</th>
            <th scope="col">Contact</th>
            <th scope="col">Email_id</th>
            <th scope="col">Car_name</th>
            <th scope="col">Car_number</th>
            <th scope="col">Model</th>
            <th scope="col">Issue</th>
            <th scope="col">Status</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>   
        </thead>   
        <tbody>   
          <% @bookings.each do |booking| %>   
            <tr>
              <td ><%= booking.user.name %></td>
              <td ><%= booking.user.contact %></td>
              <td ><%= booking.user.email %></td>
              <td ><%= booking.car.name %></td>
              <td ><%= booking.car.number %></td>
              <td ><%= booking.car.model %></td>
              <td ><%= booking.issue %></td>
              <td ><%= booking.status %></td>
              <td> <%= button_to 'Edit', edit_booking_path(booking), method: 'get', :class => "btn btn-success" %></td>
              <td> <%= button_to 'Remove', booking_path(booking), method: :delete, from: {data: {turbo_confirm: 'Are you sure?' }}  , :class => "btn btn-danger" %>
              </td>
            </tr>   
          <% end %>
        </tbody>   
      </table>   
    </div>   
  </body>   
</html>  
