<html>  
  <body> 
    <div class="text-center">
      <h1>Welcome to Car Service </h1>
      <%= current_user.email %>
      <p>user sign in <%= user_signed_in? %></p>
    </div>
    <div class="container">   
      <div>   
        <%= link_to 'Add User', new_user_path %>   
      </div>   
      <br>   
      <table border="1" width="50%" align="center">   
        <thead>   
          <tr>   
            <th>Name</th>   
            <th>Email</th>   
            <th>Action</th> 
          </tr>   
        </thead>   
        <tbody>
          <% @users.each do |user| %>   
            <tr>   
              <td ><%= user.name %></td>   
              <td><%= user.email %></td>    
              <td><%= button_to 'Show', user_path(user), method: 'get'%></td>
              <td><%= button_to 'Edit', edit_user_path(user), method: 'get'%></td>
              <td><%= button_to 'Remove', user_path(user), method: 'delete', data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>   
          <% end %>   
        </tbody>   
      </table>
    </div>   
  </body>   
</html>  

