<nav class="navbar navbar-expand-lg navbar-light  sticky-top bg-dark">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <%= button_to "Log Out", session_path(current_user.id), method: :delete , :class => "btn-logout"  %>
    <%end %>:-
      <span class="text-white">LogIn</span>-:<span class="text-white">Mr.<%= current_user.name%></span>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if current_user.customer? %>
          <li class="nav-item m-4">
            <%= link_to "Home",  dash_board_path(current_user.id)%>
          </li>
          <li class="nav-item m-4">
            <%= link_to "Booking", new_car_path %>
          </li>
          <li class="nav-item m-4">
            <%= link_to "profile",  user_path(current_user.id)%>
          </li>
          <li class="nav-item m-4">
            <%= link_to "cars",  cars_path(current_user.id)%>
          </li>
          <li class="nav-item m-4">
            <%= link_to "Booking_Details", bookings_path(current_user.id)%>
          </li>
          <li>
            <a class="navbar-brand" href="#">
              <img src="https://www.gifservice.fr/img/gif-vignette-small/8e677cb7304138c36f3bf0a04ef33c42/148271-transport-cars-suzuki-logo.gif" alt="Logo" style="width:100px; height: 80px; margin-left: 150px;">
            </a>
          </li>
        <% elsif  current_user.admin?%>
          <li class="nav-item m-4">
            <%= link_to "Service_History", service_history_path%>
          </li>
          <li class="nav-item m-4">
            <%= link_to "Booking", admins_path%>
          </li>
          <li class="nav-item m-4">
            <%= link_to "Profile", admin_profile_path %>
          </li>
          <% elsif  current_user.mechanic?%>
          <li class="nav-item m-4">
            <%= link_to "profile",  user_path(current_user.id)%>
          </li>
          <li class="nav-item m-4">
            <%= link_to "Booking", mechanic_booking_path%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>
