<%= render'/shared/dash_board' %>
<section class="vh-bg-image"
style="background-image: url('https://www.clipartbest.com/cliparts/ncB/Bya/ncBByanAi.gif'); height: 20%;">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <%= form_for @car, url: {action: :create} do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id%>
                <div class="form-outline mb-4">
                  <label>car Name</label>
                  <%= f.text_field :name,required: true %>
                </div><br>
                <div class="form-outline mb-4">
                  <label>number</label>
                  <%= f.text_field :number,required: true %>
                </div><br>
                <div class="form-outline mb-4">
                  <label>model</label>
                  <%= f.text_field :model,required: true%>
                </div><br>
                <div class="form-outline mb-4">
                  <label>company</label>
                  <%= f.text_field :company,required: true %>
                </div><br>
                <div class="form-outline mb-4">
                  <%= f.submit 'Create car',:class => "btn btn-success"%>
                  <%= link_to 'skip', new_booking_path %><br>
                </div><br>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


